[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = ">= 1.11.0"
jax = "*"
librosa = "*"
scipy = "*"
matplotlib = "*"
pydantic = "*"
optax = "*"
dm-haiku = "*"
soundfile = "*"
tqdm = "*"
elegy = ">= 0.8.5"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
mypy = "*"
flake8 = "*"
jupyter = "*"

[requires]
python_version = "3.9"
