[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = ">= 1.11.0"
torchvision = "*"
torchaudio = "*"
librosa = "*"
scipy = "*"
matplotlib = "*"
pydantic = "*"
soundfile = "*"
tqdm = "*"
pytorch-lightning = ">= 1.6.0"
asteroid = ">= 0.6.0"
asteroid-filterbanks = "*"


[dev-packages]
black = {extras = ["jupyter"], version = "*"}
mypy = "*"
flake8 = "*"
jupyter = "*"

[requires]
python_version = "3.9"
